@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* couleurs */
    --bg: #f5f5f5;
    --nav: #102d78;
    --accent2: #ffcdc3;

    /* text */
    --textdark: #000000;
    --textlight: #ffffff;
    --textURL: #771d0b;
    --accent: #102d78;

    /* Typographie */
    --typographie: "Noto Sans", sans-serif;

    /* border-radius */
    --radius: 10px;
    --raidus-top: 10px;
    --raidus-bottom: 10px;
    --raidus-left: 10px;
    --raidus-right: 10px;
    --radius-max: 999px;

    /* couleur catégorie */
    --loisir: #4ade80;
    --sport: #ffd400;
    --culture: #4a73de;
}
